.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #353353;
}

header img.user-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.footer {
    margin: 40px 0 0 0;
    text-align: center;
}

main .name {
    font-size: 40px;
    text-align: center;
}

main .experties-div {
    text-align: center;
    font-family: monospace, sans-serif;
    font-weight: 500;

}

.social-icons {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 28px;
}
.social-icons * {
    transition: color 0.1s linear;
    cursor: pointer;
}

.social-icons *:hover {
    color: #ffd15c;
}

.resume-btn {
    padding: 10px;
    border-radius: 20px;
    background-color: #ffd15c;
    transition: all 0.1s linear;
    border: none;
    color: #4d4d4d;
    font-size: 15px;
    margin: 30px 0 0 0;
    cursor: pointer;
    box-shadow: 1px 1px 2px 1px #eec252;
}

.resume-btn:hover {
    background-color: #eec252;
}