.projects {
    background: #f9f9ff;
    padding: 20px 10%;
}

.tabs,.cards {
    display: flex;
    margin: 0;
    padding: 0;
}

.tabs .tab {
    list-style-type: none;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.1s linear;
    cursor: pointer;
    margin: 0 50px 0 0;
}

.tabs .tab:hover, .selected {
    color: #ff4c60;
}

.cards {
    flex-wrap: wrap;
    gap: 30px;
    margin: 30px 0 0 0;
}

.card {
    border-radius: 15px;
    height: 130px;
    width: 160px;
    position: relative;
    box-shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);
    transition: all 0.2s ease-in;
    overflow: hidden;
}

.card:hover {
    background-color: rgb(50, 50, 218, 0.7);
}
.card img {
    transition: all 0.1s ease-in;
}
.card .hover-details {
    position: absolute;
    bottom: -100px;
    color: #fff;
    transition: bottom 0.4s ease-in;
    animation-delay: 0.1s;
    visibility: hidden;
}
.card:hover img {
    display: none;
}

.card:hover .hover-details {
    visibility: visible;
    bottom: 50px;
}

.details-btn {
    background: #ffd15d;
    border: none;
    outline: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #4d4d4d;
    cursor: pointer;
    position: relative;
    top: 20px;
}

.iframe {
    position: relative;
    width: 100%;
    height: 100%;
}

.no-content {
    height: 100%;
    width: 100%;
    background: #fff;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;    
    flex-direction: column;
    text-align: center;
}

.no-content  .img {
    font-size: 40px;
    color: #ffd15c;
}

.dots {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    aspect-ratio: 4;
    background: radial-gradient(circle closest-side,#000 90%,#0000) 0/calc(100%/3) 100% space;
    clip-path: inset(0 100% 0 0);
    animation: d1 1s steps(4) infinite;
  }
  @keyframes d1 {to{clip-path: inset(0 -34% 0 0)}}