.experience {
    background: #f9f9ff;
    padding: 20px 10%;
    display: flex;
    flex-direction: column;
}

.exp {
    border-radius: 15px;
    box-shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);
    transition: all 0.2s ease-in;
    overflow: hidden;
    padding: 15px;
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
}

.job-details {
    display: inline-flex;
    flex-direction: column;
    padding: 0 30px;
}

.header-detail {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

.job-title {
    color: #cf681f;
}

.job-duration, .job-title, .job-company  {
    font-weight: bold;
}

.job-company, .job-icon {
    color: #353353;
}

.job-icon, .job-title {
    font-size: 20px;
}

.job-company {
    font-size: 18px;
}


@media(max-width: 500px) {
    .job-details {
        padding: 0 10px;
    }
    .job-title {
        font-size: 15px;
    }
    .header-detail {
        flex-direction: column;
        row-gap: 10px;
    }
    .job-duration, li {
        font-size: 13px;
    }
    .job-company {
        margin: 20px 0 0 0;
    }
    ul {
        padding: 0;
    }
}