.sidebar-container {
    width: 250px;
    transition: width 0.2s linear;
}

.sidebar-container.reduced {
    width: 80px;
}

.main-container {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}